name: Android CI

on:
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build_android_components:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build App with Gradle
        run: ./gradlew assembleDebug
      - name: Testing ussd-library
        run: ./gradlew assembleDebug lint testDebugUnitTest -p ussd-library
      - name: Upload Testing ussd-library
        uses: actions/upload-artifact@v1
        with:
          name: ussd-library-test
          path: ussd-library/build/reports/tests/testDebugUnitTest
      - name: Upload ussd-library artifact
        uses: actions/upload-artifact@v1
        with:
          name: ussd-library-aar
          path: ussd-library/build/outputs/aar/ussd-library-debug.aar
      - name: Testing ussd-library-kotlin
        run: ./gradlew assembleDebug lint testDebugUnitTest -p ussd-library-kotlin
      - name: Upload Testing ussd-library-kotlin
        uses: actions/upload-artifact@v1
        with:
          name: ussd-library-kotlin-test
          path: ussd-library-kotlin/build/reports/tests/testDebugUnitTest
      - name: Upload ussd-library-kotlin artifact
        uses: actions/upload-artifact@v1
        with:
          name: ussd-library-kotlin-aar
          path: ussd-library-kotlin/build/outputs/aar/ussd-library-kotlin-debug.aar

  android_testing:
    name: Instrumented tests
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v2

      - name: Set Up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

#      - name: Execute Unit Tests (gradlew test)
#        run: bash ./gradlew test --stacktrace

      - name: Run Android instrumented tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 23
          target: default
          arch: x86
          profile: Nexus 6
          script: ./gradlew :app-kotlin:connectedDemoDebugCheck --stacktrace